.ck.ck-math-form {
	padding: .5rem;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;

	@media screen and (max-width: 600px) {
		flex-wrap: wrap;

		& .ck-math-view {
			flex-basis: 100%;

			& .ck-labeled-input {
				flex-basis: 100%;
			}

			& .ck-label {
				flex-basis: 100%;
			}
		}

		& .ck-button {
			flex-basis: 50%;
		}
	}
}
.ck.ck-labeled-input {
	width: 100%;
}
.ck.ck-labeled-input div {
	width: inherit;
	padding-top: 0.25rem;
	white-space: normal;
}
.ck-math-view {
	max-width: 800px;
}

.ck-math-tex.ck-placeholder::before {
	display: none !important;
}

.ck.ck-toolbar-container {
	z-index: calc(var(--ck-z-modal) + 2);
}

.math-icon {
	width: 50px !important;
	height: 50px !important;
	cursor: pointer!important;
	border: solid 1px transparent!important;
	border-radius: 0.33rem;
}

.math-icon:hover {
	border-color: #e5e5e5!important;
}

.shortcuts-list {
	margin-top: .5rem !important;
	display: flex !important;
	flex-direction: column;
}

.shortcuts-categories {
	display: flex !important;
	justify-content: space-between;
}

.shortcuts-categories p {
	cursor: pointer !important;
	font-weight: bold !important;
	margin-inline: .2rem !important;
	padding-inline: .5rem !important;
}

.shortcuts-categories p.active {
	border: 2px solid lightgray !important;
	border-radius: 0.33rem !important;
}

.commands-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: .5rem !important;
}

.commands-list li {
	cursor: pointer !important;
}
